{% extends 'start_page.html' %}
{% block content %}
<style>
    form {
        margin: 2px auto;
    }
    input.set_attr {
        margin: 5px;
        width: 75%;
    }
    .cols {
      text-align: center;
      border: 1px solid black;
      margin: 5px;
    }
</style>

<form method="post">
    <div class="cellContainer">
        <div class="cols">
            <p padding="10px"> Vectors: </p>
            <input type="submit" name="button" value="1">
        </div>
    </div>
    <div class="cellContainer">
        <div class="cols">
            <p padding="10px"> Atoms: </p>
            <input type="submit" name="button" value="2">
        </div>
    </div>
    <div class="cellContainer">
        <div class="cols">
            <p padding="10px"> Translations and hoppings: </p>
            <input type="submit" name="button" value="3">
        </div>
    </div>
</form>
{% endblock %}
