{% extends 'start_page.html' %}
{% block content %}
<style>
    form {
        margin: 2px auto;
    }
    input.set_attr {
        margin: 5px;
        width: 75%;
    }
    .cols {
      text-align: center;
      border: 1px solid black;
      margin: 5px;
    }
</style>
<form action="/a" method="post" margin-left="200px">
    <div class="cellContainer">
        <div class="cols">
            {% for f in form %}
                {{ f(size=20) }}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
