{% extends 'start_page.html' %}
{% block content %}
    <style>
        form {
            margin: 2px auto;
        }
        input.set_attr {
            margin: 5px;
            width: 75%;
        }
        .cols {
          text-align: center;
          border: 1px solid black;
          margin: 5px;
        }

    </style>
    <div class="cellContainer">
        <div class="cols">
            <form action="{{ url_for('tb_form') }}" method="post" margin-left="200px">
                <p padding="10px"> Vectors: </p>
                    <input class="set_attr" type="text" name="vec1">
                    <input class="set_attr" type="text" name="vec2">
                    <input class="set_attr" type="text" name="vec3">
                    <button> Тыкни </button>
            </form>
        </div>
    </div>
    <div class="cellContainer">
        <div class="cols">
            <form action="{{ url_for('tb_form') }}" method="post" margin-left="200px">
                <p padding="10px"> Vectors: </p>
                    <input class="set_attr" type="text" name="vec1">
                    <input class="set_attr" type="text" name="vec2">
                    <input class="set_attr" type="text" name="vec3">
                    <button> Тыкни </button>
            </form>
        </div>
    </div>
    <div class="cellContainer">
        <div class="cols">
            <form action="{{ url_for('tb_form') }}" method="post" margin-left="200px">
                <p padding="10px"> Vectors: </p>
                    <input class="set_attr" type="text" name="vec1">
                    <input class="set_attr" type="text" name="vec2">
                    <input class="set_attr" type="text" name="vec3">
                    <button> Тыкни </button>
            </form>
        </div>
    </div>
    <div class="cellContainer">
        <div class="cols">
            <form action="{{ url_for('tb_form') }}" method="post" margin-left="200px">
                <p padding="10px"> Vectors: </p>
                    <input class="set_attr" type="text" name="vec1">
                    <input class="set_attr" type="text" name="vec2">
                    <input class="set_attr" type="text" name="vec3">
                    <button> Тыкни </button>
            </form>
        </div>
    </div>


{% endblock %}
